<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkinsci.plugins.gitbucket.GitBucketProjectProperty plugin="gitbucket@0.8">
      <linkEnabled>false</linkEnabled>
    </org.jenkinsci.plugins.gitbucket.GitBucketProjectProperty>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.29.2">
      <projectUrl>https://github.com/prudhvipenmetsa/July5Demo.git/</projectUrl>
      <displayName></displayName>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.9.1">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/prudhvipenmetsa/July5Demo.git</url>
        <credentialsId>f148d45e-6ff6-4fe4-a1c7-b249ae339854</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Ant plugin="ant@1.8">
      <targets></targets>
      <antName>ANT1.8.2</antName>
      <buildFile>/opt/api102/common/AssetBuildEnvironment/apigw_demo_ff_build/build.xml</buildFile>
      <properties>apigateway.repo.localRepo.path=$workspace
build.output.dir=/opt/ci/workspace/builds/julyffbuild
apigateway.buildLocalRepoOnly=false</properties>
    </hudson.tasks.Ant>
    <hudson.tasks.Shell>
      <command>/opt/api102/IntegrationServer/instances/default/packages/WmDeployer/bin/Deployer.sh --deploy -dc QADeployment -project DeloyByJenkins -host webm101.prudhvi.com  -port 9955 -user Administrator  -pwd manage
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>